.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 1rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 2rem;
}

.headerImage {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem 0 0;
}

.headerHomeImage {
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem 0 0;
}

.headerPostsLink {
  margin-left: auto;
}

.footNote {
  font-size: 0.7rem;
}

.copyRight {
  font-size: 0.7rem;
}
